.row {
  justify-content: space-between;
  align-items: start;
}
.teachers {
  overflow-x: hidden;
}

.teachers .container {
  position: relative;
  z-index: 1;
}
.teachers .bg {
  position: absolute;
  z-index: -1;
  right: -120px;
  transform: rotate(30deg);
  top: 120px;
}

.teachers .bg img {
  width: 700px;
}

.teachers .title svg {
  height: auto;
  width: 30%;
  margin-bottom: 50px;
  margin-top: 50px;
}

.teacher img {
  border-radius: 30px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 37px;
}

.teacher h4 {
  font-weight: 700;
  font-size: 38px;
  color: var(--black);
  height: 130px;
  text-align: left;
}

.teacher p {
  font-weight: 400;
  font-size: 20px;
  color: var(--black);
  width: 90%;
  text-align: left;
}

.teacher p span {
  display: block;
}

@media (max-width: 1400px) {
  .teacher p {
    font-size: 15px;
  }
  .teacher h4 {
    font-size: 30px;
    height: 100px;
  }
  .teacher img {
    margin-bottom: 20px;
  }
}
@media (max-width: 1000px) {
  .teachers .bg {
    top: 90px;
    right: -100px;
  }
  .teachers .bg img {
    width: 500px;
  }
}
@media (max-width: 900px) {
  .teacher p {
    font-size: 14px;
  }
  .teacher h4 {
    font-size: 28px;
    height: 85px;
  }
  .teacher img {
    margin-bottom: 15px;
  }
  .teachers .bg {
    top: 90px;
    right: -50px;
  }
  .teachers .bg img {
    width: 400px;
  }

  .teachers .title svg {
    width: 40%;
  }
}

@media (max-width: 500px) {
  .teachers .bg {
    top: 120px;
    right: -150px;
    transform: rotate(50deg);
  }
  .teachers .bg img {
    width: 350px;
  }

  .teachers .title svg {
    width: 50%;
  }
}
@media (max-width: 400px) {
  .teacher p {
    font-size: 13px;
  }
  .teacher h4 {
    font-size: 24px;
    height: 85px;
  }
  .teacher img {
    margin-bottom: 15px;
  }
}

