.row {
  justify-content: space-between;
  align-items: start;
}
.teachers {
  overflow-x: hidden;
}

.teachers .container {
  position: relative;
  z-index: 1;
}
.teachers .bg {
  position: absolute;
  z-index: -1;
  right: -120px;
  transform: rotate(30deg);
  top: 120px;
}

.teachers .bg img {
  width: 700px;
}

.teachers .title svg {
  height: auto;
  width: 30%;
  margin-bottom: 50px;
  margin-top: 50px;
}

.teacher img {
  border-radius: 30px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 37px;
}

.teacher h4 {
  font-weight: 700;
  font-size: 38px;
  color: var(--black);
  height: 130px;
  text-align: left;
}

.teacher p {
  font-weight: 400;
  font-size: 20px;
  color: var(--black);
  width: 90%;
  text-align: left;
}

.teacher p span {
  display: block;
}

.titleWork {
  height: auto;
  width: 60%;
  margin-bottom: 30px;
}
.works {
  background: #e6e6e6;
  border-radius: 30px;
  padding: 50px 0;
  margin-top: 50px;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.works .worksHeader,
.works .worksBottom {
  display: flex;
  align-items: center;
  gap: 50px;
  animation: work1 20s linear infinite;
}

.works .worksHeader img,
.works .worksBottom img {
  height: 60px;
}
.works .worksBottom {
  animation: work2 35s linear infinite;
  margin-top: 30px;
}
@keyframes work1 {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-1690px);
  }
}
@keyframes work2 {
  0% {
    transform: translateX(-3350px);
  }
  100% {
    transform: translateX(0px);
  }
}

@media (max-width: 1400px) {
  .teacher p {
    font-size: 15px;
  }
  .teacher h4 {
    font-size: 30px;
    height: 100px;
  }
  .teacher img {
    margin-bottom: 20px;
  }
}
@media (max-width: 1000px) {
  .teachers .bg {
    top: 90px;
    right: -100px;
  }
  .teachers .bg img {
    width: 500px;
  }
  .titleWork {
    width: 50%;
  }
  .works {
    border-radius: 20px;
    padding: 20px 0;
    margin-top: 20px;
  }
  .works .worksBottom {
    margin-top: 15px;
  }
}
@media (max-width: 900px) {
  .teacher p {
    font-size: 14px;
  }
  .teacher h4 {
    font-size: 28px;
    height: 85px;
  }
  .teacher img {
    margin-bottom: 15px;
  }
  .teachers .bg {
    top: 90px;
    right: -50px;
  }
  .teachers .bg img {
    width: 400px;
  }

  .teachers .title svg {
    width: 40%;
  }

  .works .worksHeader img,
  .works .worksBottom img {
    height: 40px;
  }
  .titleWork {
    width: 80%;
  }

  .works .worksHeader,
  .works .worksBottom {
    animation: work1 40s linear infinite;
  }
  .works .worksBottom {
    animation: work2 55s linear infinite;
  }
  .works .worksHeader,
  .works .worksBottom {
    gap: 30px;
  }

  .works {
    padding-top: 30px;
    margin-top: 30px;
  }
}
@media (max-width: 500px) {
  .teachers .bg {
    top: 120px;
    right: -150px;
    transform: rotate(50deg);
  }
  .teachers .bg img {
    width: 350px;
  }

  .teachers .title svg {
    width: 50%;
  }
}
@media (max-width: 400px) {
  .teacher p {
    font-size: 13px;
  }
  .teacher h4 {
    font-size: 24px;
    height: 85px;
  }
  .teacher img {
    margin-bottom: 15px;
  }
}
