.popUp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("/public/assets/images/popup-background.png") no-repeat;
  background-size: cover;
  z-index: 8;
  width: 970px;
  padding: 30px 50px;
  border-radius: 30px;
  padding-bottom: 50px;
}
.popUp .title svg {
  width: 250px;
}

.popUp form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: auto;
  margin-top: 50px;
}

.popUp form input {
  width: 100%;
  border-radius: 50px;
  height: 50px;
  border: none;
  font-family: Evolventa;
  outline: none;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: left;
  color: var(--black);
  font-size: 20px;
  padding-left: 30px;
}

.popUp form .checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.popUp form .checkbox input {
  width: 20px;
  height: 20px;
  margin-bottom: 0;
}

.popUp form button {
  padding: 15px 80px;
  border: none;
  cursor: pointer;
  border-radius: 40px;
  margin-top: 40px;
  font-family: Evolventa;
  font-size: 25px;
  color: var(--white);
  background-color: var(--red);
}

.popUp form label,
.popUp form .checkbox a {
  font-family: Evolventa;
  color: var(--white);
}
.popUp form a {
  text-decoration: underline;
}

@media (max-width: 980px) {
  .popUp {
    width: 90%;
  }
}

@media (max-width: 990px) {
  .popUp {
    background: rgb(237, 19, 33);
    background: linear-gradient(
      149deg,
      rgba(237, 19, 33, 1) 0%,
      rgba(20, 11, 32, 1) 35%,
      rgba(20, 11, 32, 1) 65%,
      rgba(237, 19, 33, 1) 100%
    ) !important;
    padding: 60px 0;
  }

  .popUp form {
    width: 90%;
  }
  .popUp form button {
    margin-top: 25px;
  }
  .popUp form .checkbox label {
    font-size: 15px;
    text-align: left;
  }
  .popUp .title {
    text-align: center;
  }
  .popUp .title svg {
    width: 180px;
  }
}
