.titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px;
}
.titles svg {
  height: auto;
  width: 30%;
}

.titles p {
  width: 65%;
  background-color: var(--red);
  border-radius: 30px;
  text-align: center;
  padding: 32px;
}

.titles p span,
.titles p {
  display: block;
  font-weight: 700;
  font-size: 40px;
  color: var(--white);
}

.lessons .row {
  align-items: start;
  gap: 50px;
}
.lessons {
  background: #e6e6e6;
  border-radius: 30px;
  margin: 50px 0;
  padding: 50px 0;
}
.lessons .row .left,
.lessons .row .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.lessons .row .block {
  width: 100%;
  background-size: cover !important;
  position: relative;
  border-radius: 20px;
  padding: 30px 40px;
  padding-bottom: 50px;
}

.lessons .row .block.one {
  background: url("/public/assets/images/blok-1.png") no-repeat;
}
.lessons .row .block.two {
  background: url("/public/assets/images/blok-2.png") no-repeat;
}
.lessons .row .block.three {
  background: url("/public/assets/images/blok-3.png") no-repeat;
}
.lessons .row .block.four {
  background: url("/public/assets/images/blok-4.png") no-repeat;
}
.lessons .row .block.five {
  background: url("/public/assets/images/blok-5.png") no-repeat;
}
.lessons .row .block.six {
  background: url("/public/assets/images/blok-6.png") no-repeat;
}
.lessons .row .block.seven {
  background: url("/public/assets/images/blok-7.png") no-repeat;
}
.lessons .row .block.bonus {
  background: url("/public/assets/images/blok-8.png") no-repeat;
}

.lessons .row .block.one .title h2,
.lessons .row .block.five .title h2,
.lessons .row .block.bonus .title h2 {
  color: var(--red);
}
.lessons .row .block.two .title h2,
.lessons .row .block.four .title h2 {
  color: #4870b5;
}
.lessons .row .block.three .title h2 {
  color: #551a75;
}
.lessons .row .block.six .title h2 {
  color: #23a3d1;
}
.lessons .row .block.seven .title h2 {
  color: #009933;
}

.lessons .row .block .title {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--white);
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-radius: 12px;
}
.lessons .row .block .title h2 {
  font-family: Evolventa;
  font-weight: 700;
  font-size: 35px;
}

.lessons .row .block h3 {
  font-family: Evolventa;
  font-weight: 700;
  color: var(--white);
  font-size: 55px;
  margin-top: 50px;
}
.lessons .row .block ul {
  margin-top: 30px;
}
.lessons .row .block ul p {
  font-family: Evolventa;
  color: var(--white);
  font-size: 25px;
}
.lessons .row .block ul p span {
  font-weight: 700;
  font-size: 25px;
}

.lessons .row .block.bonus .title {
  width: 350px;
}

.lessons .row .block .bonusFooter {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 25px;
  width: fit-content;
  border-radius: 20px;
  background-color: var(--white);
  margin: auto;
  margin-top: 40px;
}
.lessons .row .block .bonusFooter svg {
  width: 25%;
  height: auto;
}
.lessons .row .block .bonusFooter h4 {
  font-family: Gilroy;
  font-weight: 400;
  color: var(--red);
  font-size: 30px;
  width: 100%;
}

.lessons .rowMobile {
  display: none;
}
@media (max-width: 1350px) {
  .titles p {
    width: auto;
    padding: 20px 50px;
  }

  .titles p span,
  .titles p {
    font-size: 28px;
  }
  .lessons .row .block h3 {
    font-size: 44px;
  }
  .lessons .row .block ul p,
  .lessons .row .block ul p span {
    font-size: 20px;
  }
  .lessons .row .block .bonusFooter h4 {
    font-size: 25px;
  }
}

@media (max-width: 1200px) {
  .lessons .row .block h3 {
    font-size: 40px;
    margin-top: 20px;
  }
  .lessons .row .block ul p,
  .lessons .row .block ul p span {
    font-size: 15px;
  }
  .lessons .row {
    gap: 20px;
  }

  .lessons .row .block .bonusFooter {
    gap: 20px;
    padding: 15px 25px;
    margin-top: 30px;
  }
  .lessons .row .block .bonusFooter h4 {
    font-size: 20px;
  }

  .lessons .row .block ul {
    margin-top: 20px;
  }

  .lessons .row .block {
    padding: 25px 30px;
  }
  .lessons .row .block .title h2 {
    font-size: 20px;
  }

  .lessons .row .block .title {
    width: 150px;
    height: 50px;
  }
  .lessons .row .block.bonus .title {
    width: 200px;
  }
}

@media (max-width: 1000px) {
  .titles p span,
  .titles p {
    font-size: 23px;
  }
}

@media (max-width: 900px) {
  .titles p span,
  .titles p {
    font-size: 18px;
  }
  .lessons .row {
    flex-direction: column;
  }
  .lessons .row .left,
  .lessons .row .right {
    width: 100%;
  }
  .lessons .rowPC{
    display: none !important;
  }
  .lessons .rowMobile {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 670px) {
  .titles {
    flex-direction: column;
    align-items: start;
    margin-top: 20px;
  }

  .titles p {
    width: 100%;
    margin-top: 10px;
  }
  .titles svg {
    width: 40%;
    margin-bottom: 20px;
  }
}

@media (max-width: 450px) {
  .titles p span,
  .titles p {
    font-size: 15px;
  }
  .lessons .row .block .bonusFooter {
    gap: 10px;
    padding: 10px 15px;
    border-radius: 10px;
  }
  .lessons .row .block .bonusFooter svg {
    width: 23%;
  }
  .lessons .row .block .bonusFooter h4 {
    font-size: 16px;
  }

  .lessons .row .block ul p,
  .lessons .row .block ul p span {
    font-size: 13px;
  }
  .lessons .row .block h3 {
    font-size: 30px;
    margin-top: 20px;
  }
  .lessons .row .block ul {
    margin-top: 15px;
  }
  .lessons {
    border-radius: 20px;
    margin: 30px 0;
    padding: 30px 0;
  }
}

@media (max-width: 360px) {
  .titles p span,
  .titles p {
    font-size: 12px;
  }
  .lessons .row .block .bonusFooter {
    gap: 10px;
    padding: 10px 15px;
    border-radius: 10px;
  }
  .lessons .row .block .bonusFooter svg {
    width: 20%;
  }
  .lessons .row .block .bonusFooter h4 {
    font-size: 14px;
  }
  .lessons .row .block h3 {
    font-size: 25px;
    margin-top: 20px;
  }
}
