.header {
  padding-top: 138px;
  padding-bottom: 141px;
  background-color: #f3e4df;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.header .bg {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}
.header .bg img {
  height: 100%;
}

.instaLady {
  width: 350px;
}

.header span {
  display: block;
}

.header p {
  font-family: Gilroy;
  margin: 80px 0;
  font-weight: 400;
  font-size: 57.33px;
  color: var(--red);
}

.title {
  height: auto;
  width: 55% !important;
}

@media (max-width: 1500px) {
  .header p {
    font-size: 40px;
    margin: 60px 0;
  }
  .title {
    width: 750px;
  }
}
@media (max-width: 1300px) {
  .title {
    width: 580px;
  }
  .header p {
    font-size: 30px;
    margin: 40px 0;
  }

  .instaLady {
    width: 300px;
  }
}
@media (max-width: 1000px) {
  .title {
    width: 465px;
  }
  .header p {
    font-size: 25px;
    margin: 30px 0;
  }
  .instaLady {
    width: 250px;
  }
  .header {
    padding-top: 120px;
    padding-bottom: 80px;
  }
}
@media (max-width: 800px) {
  .title {
    width: 360px;
  }
  .header p {
    font-size: 18px;
    margin: 25px 0;
  }
  .instaLady {
    width: 150px;
  }
  .header {
    padding-top: 120px;
    padding-bottom: 80px;
  }
}
@media (max-width: 600px) {
  .title {
    width: 280px;
  }
  .header p {
    font-size: 16px;
    margin: 25px 0;
  }
  .instaLady {
    width: 130px;
  }
  .header {
    padding-top: 70px;
    padding-bottom: 60px;
  }
}
@media (max-width: 470px) {
  .title {
    width: 200px;
  }
  .header p {
    font-size: 15px;
    margin: 20px 0;
  }
  .instaLady {
    width: 100px;
  }
  .header {
    padding-top: 70px;
    padding-bottom: 60px;
  }
}
