.footer {
  background-color: var(--black);
  padding-top: 100px;
  padding-bottom: 70px;
}

.footer .row {
  justify-content: center;
  gap: 30px;
}
.footer .row a {
  background-color: var(--red);
  border-radius: 30px;
  border: none;
  padding: 12px 53px;
  border-radius: 35px;
  color: var(--white);
  font-weight: 700;
  font-size: 30px;
}

.footer h2 {
  color: var(--white);
  font-weight: 700;
  font-size: 40px;
}

.footer p {
  font-weight: 400;
  font-size: 24px;
  color: var(--white);
  text-align: center;
  margin-top: 70px;
  margin-bottom: 15px;
}

.footer span {
  text-align: center;
  color: var(--red);
  font-size: 16px;
  display: block;
}

.footer span a {
  color: var(--red);
}
@media (max-width: 1100px) {
  .footer h2 {
    font-size: 30px;
  }

  .footer .row a {
    padding: 12px 43px;
    font-size: 25px;
  }

  .footer p {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .footer span {
    font-size: 14px;
  }

  .footer {
    padding-top: 60px;
    padding-bottom: 50px;
  }
}
@media (max-width: 800px) {
  .footer h2 {
    font-size: 20px;
  }

  .footer .row a {
    padding: 7px 23px;
    font-size: 20px;
  }

  .footer p {
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .footer span {
    font-size: 12px;
  }

  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 550px) {
  .footer h2 {
    font-size: 20px;
  }
  .footer .row {
    flex-direction: column;
    gap: 15px;
  }
  .footer .row a {
    font-size: 18px;
  }
  .footer p {
    font-size: 14px;
    margin-top: 40px;
    margin-bottom: 6px;
  }

  .footer span {
    font-size: 12px;
  }

  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
