.title {
  background-color: var(--red);
  padding: 30px 0 34px;
}
.title h1 {
  font-weight: 500;
  font-size: 60px;
  font-family: Gilroy;
  color: var(--white);
}
.prices .row {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
.prices .price {
  border-radius: 30px;
  background: #4870b5;
  width: 30%;
  color: var(--white);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prices .price h4 {
  text-align: center;
  font-weight: 500;
  font-size: 50px;
  font-family: Gilroy;
  margin-bottom: 22px;
}

.prices .price p {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 2px;
}

.prices .price .bottom {
  margin-top: 20px;
  text-align: center;
}

.prices .price:nth-child(1) {
  background: #cc0c4c;
}
.prices .price:nth-child(2) {
  background: #ff0055;
}
.prices .price:nth-child(3) {
  background: #4870b5;
}

.prices .price .bottom h5 {
  font-weight: 400;
  font-size: 25px;
  font-family: Gilroy;
  text-decoration: line-through;
}
.prices .price .bottom h1 {
  font-weight: 600;
  font-family: Gilroy;
  font-size: 50px;
}
.prices .price .bottom h1 span {
  font-family: Gilroy;
  font-weight: 400;
}
.prices .price .bottom h3 {
  margin-top: 10px;
  font-weight: 500;
  font-family: Gilroy;
  font-size: 25px;
}
.prices .price .bottom h3 span {
  font-family: Gilroy;
  font-weight: 400;
}
.prices .price:nth-child(3) h1 {
  color: #08f7f7;
}

.prices .price .bottom a {
  font-weight: 500;
  font-family: Gilroy;
  font-size: 27px;
  text-transform: uppercase;
  width: 100%;
  background-color: var(--white);
  display: block;
  margin-top: 20px;
  border-radius: 30px;
  padding: 15px;
  color: var(--black);
}

.payBlock {
  border-radius: 30px;
  background: #e6e6e6;
  border: 4px solid #ffffff;
  padding: 30px 60px 50px;
  margin-bottom: 30px;
}

.payBlock .pay {
  width: 240px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: 15px;
  cursor: pointer;
}
.payBlock .pay img {
  max-height: 40px;
  max-width: 60%;
}
.payBlock .payRow {
  display: flex;
}
.payBlock .payRow .left {
  border-right: 2px solid var(--white);
  padding-right: 40px;
  margin-right: 40px;
}
.payBlock .payRow .left .payIcons {
  flex-wrap: nowrap;
}
.payBlock .payIcons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.payBlock h3 {
  font-weight: 500;
  font-size: 35px;
  font-family: Gilroy;
  margin-bottom: 30px;
}

@media (max-width: 1562px) {
  .payBlock .pay {
    width: 210px;
    height: 70px;
  }
}
@media (max-width: 1500px) {
  .prices .price {
    width: 32%;
  }
  .prices .price .bottom a {
    font-size: 25px;
  }
}
@media (max-width: 1405px) {
  .prices .price {
    width: 31%;
  }
  .payBlock .pay {
    width: 175px;
    height: 60px;
  }
  .prices .price .bottom h1 {
    font-size: 38px;
  }
  .prices .price .bottom a {
    font-size: 20px;
  }
  .prices .price p {
    font-size: 20px;
  }

  .prices .price .bottom h5 {
    font-size: 20px;
  }

  .prices .price .bottom h3 {
    font-size: 20px;
  }
}
@media (max-width: 1205px) {
  .payBlock .pay {
    width: 155px;
    height: 55px;
  }

  .payBlock {
    padding: 25px 50px 40px;
  }

  .payBlock h3 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .payBlock .payRow .left {
    margin-right: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 1170px) {
  .prices .price .bottom h1 {
    font-size: 30px;
  }
  .prices .price .bottom a {
    font-size: 15px;
    padding: 13px 0;
  }
  .prices .price p {
    font-size: 18px;
  }

  .prices .price .bottom h5 {
    font-size: 25px;
  }

  .prices .price .bottom h3 {
    font-size: 15px;
  }

  .prices .price h4 {
    font-size: 40px;
  }
}

@media (max-width: 992px) {
  .prices .row {
    flex-direction: column;
  }
  .prices .price {
    width: 100%;
    margin-bottom: 20px;
  }

  .title {
    padding: 20px 0 24px;
  }
  .title h1 {
    font-size: 35px;
  }
  .prices .price .bottom {
    margin-top: 50px;
  }
  .prices .price .bottom a {
    padding: 15px 0;
    font-size: 20px;
  }

  .payBlock .payRow {
    flex-direction: column;
  }
  .payBlock .payRow .left {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
    border-bottom: 2px solid var(--white);
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 670px) {
  .title h1 {
    font-size: 25px;
  }
  .prices .row {
    margin: 30px 0;
  }
  .title {
    padding: 15px 0;
  }

  .payBlock .pay {
    width: 47%;
    height: 60px;
    border-radius: 7px;
  }
  .payBlock h3 {
    font-size: 17px;
  }
  .payBlock {
    padding: 20px 30px 40px;
  }
}

@media (max-width: 450px) {
  .prices .price {
    padding: 25px;
  }
  .prices .price:last-child {
    margin-bottom: 0;
  }
  .title h1 {
    font-size: 20px;
  }
  .title {
    padding: 10px 0;
  }

  .prices .price h4 {
    font-size: 35px;
  }
  .prices .price .bottom a {
    font-size: 15px;
  }
  .payBlock .pay {
    width: 46%;
    height: 48px;
    border-radius: 7px;
  }
  .payBlock .payIcons {
    gap: 15px;
  }
}
