@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap");

@font-face {
  font-family: Evolventa;
  src: url("/public/assets/fonts/Evolventa/Evolventa-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Evolventa;
  src: url("/public/assets/fonts/Evolventa/Evolventa-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Gilroy;
  src: url("/public/assets/fonts/Gilroy/Gilroy-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Gilroy;
  src: url("/public/assets/fonts/Gilroy/Gilroy-Medium.ttf");
  font-weight: 500;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Evolventa;
  font-weight: 400;
}

:root {
  --black: #000;
  --red: #f00050;
  --white: #fff;
  --blue: #4870b5;
}

.container {
  max-width: 1720px;
  width: 95%;
  margin: auto;
  position: relative;
  z-index: 2;
}

.row {
  display: flex;
  align-items: center;
}
button {
  cursor: pointer;
}

body {
  overflow-x: hidden;
  background: var(--white);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.swiper-slide {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.backgroundPopUp {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
}

.react-tel-input {
  display: flex;
  align-items: center;
  width: 100%;
}
.react-tel-input .form-control {
  width: 100% !important;
  text-align: left !important;
  height: 50px !important;
  border-radius: 30px !important;
  padding-left: 70px !important;
  font-size: 18px !important;
  font-family: Evolventa !important;
}
.react-tel-input .flag-dropdown {
  background-color: #fff !important;
  width: 60px !important;
  border-radius: 30px 0 0 30px !important;
}
.react-tel-input .selected-flag {
  border-radius: 30px 0 0 30px !important;
}
.react-tel-input .country-list {
  text-align: left !important;
}

.Loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #f3e4df;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backgroundPopUp.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px) {
  .container {
    width: 92%;
  }
}

button:disabled {
  cursor: auto !important;
  opacity: 0.8 !important;
}
